:root {
  --primaryColor: #180636;
  --secondaryColor: #5C28FB;
  --primaryLight: #1B1833;
  --purple: #3B3761
}


body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Public Sans', sans-serif;
  ;
}